
<div class="Resumen">
    <h2>¿Que es la navegacio&#769;n?</h2>
    <p>Tambien conocido como enrutamiento es un mecanismo en las aplicaciones web que le permite a un usuario 
        buscar contenido en la vista según el componente que desee navegar. También se puede hacer directamente utilizando la URL de ruta en los navegadores.
    </p>
    <br>
    <p>Angular para procesar las rutas y determinar cual será la vista a presentar utiliza un modulo de enrutado rai&#769;z</p>
</div>
<h2>AppRoutingModule</h2>

<div id="AppRoutingModule">
    <div id="resumen">
        <p>Cuando se crea un proyecto en angular se crea por ddefault el modulo raiz que permite manejar el enrutamiento.
            este modulo hace uso del <b>RouterModule</b>, esta contiene un array de routes e instrucciones que se ejecutan cuando dichas rutas se activan
        </p>
    </div>
    <div id="ImgRoiting">
            <img id="ImgAppRoutingModule"
            alt="AppRoutingModule"
            src="https://miro.medium.com/max/1516/1*MoHYcNqfhsArKPrnCS0EHQ.png"
        />
    </div>
</div>

<div class="Resumen">
    <h2>Router Link</h2>
    <p>En concreto esta directiva, que tambien viene en el modulo <b>routerModule</b>, se usa en sustitución del atributo estándar href</p>
    <br>
    <h2>Router Link Active </h2>
    <p>Para configurar los enrutadores en clase Angular y activa, se lo realiza con las directivas <b>routerLink</b> y <b>routerLinkActive</b></p>
</div>

<br>
<br>
    