
<div id="Resumen">
    <p>A continuación se detalla los pasos realizados en esta práctica</p>
    <br>
    <ol>
        <li>Se crea el proyecto</li>
        <li>Se instala Bootstrap</li>
        <li>Se crean los 6 componentes para el contenido de la aplicación</li>
        <li>Se modifica el módulo AppRoutingModule para la declaración de las rutas</li>
        <li>En el módulo AppComponent HTML se usa Router Link y Router Link Active para la navegación de las rutas</li>
    </ol>  
<div>
<br>
<br>


    
    
    

