
<div class="card-container">
  <div class="content">
    <section class="AngularCLI">
      <h2>Angular CLI</h2>
      <br>
      <img id="AngularCLI"
            alt="Angula CLI"
            src="https://d33wubrfki0l68.cloudfront.net/a8ca95a509679ffb29b1da9bc2f533d228f03466/3ec6e/images/posts/2018-05-11-understanding-the-angular-cli-workspace-file/angular-cli-workspace-example5.gif"
      />
    </section>
    <br>
    <br>
    <!-- Contactos -->
    <h2>Contactos</h2>
    <div class="card-container" id="Contactos">
        <a class="circle-link" title="Facebook" href="https://facebook.com/" target="_blank" rel="noopener">
        <img width="21.762" height="23.447" viewBox="0 0 21.762 23.447" id="facebook"
                alt="Facebook"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1200px-Facebook_f_logo_%282019%29.svg.png"
        />
        </a>
        <a class="circle-link" title="Linkedin" href="https://www.linkedin.com/in/allisson-menoscal-759001100" target="_blank" rel="noopener">
        <img width="21.762" height="23.447" viewBox="0 0 21.762 23.447" id="facebook"
                alt="Facebook"
                src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-linkedin-circle-512.png"
        />
        </a>
    </div>

    <section>
        <footer>
            <b>&#169; AlliTic 2020, Todos los derechos reservados.</b>
        </footer>
    </section>
    </div>
</div>
  
  
  